$clr-main: #023373
$clr-b: #031835
$clr-w: #e5e5e5
$clr-o: #fc574b

$ff-main: 'Roboto', serif
$fs: 16px
$blh: 28px

$container: 1520px
=container($container)
  width: 100%
  max-width: $container
  margin: auto
  padding: $blh
  &:after
    clear: both
  @media #{$media-max-sm}
    padding: $blh calc($blh/2)

//////////////////////////////////////////////
// Media Break Points & Query Mixin
$xxs: 376px
$xs: 576px
$sm: 768px
$md: 992px
$lg: 1200px
$xlg: 1400px
// Media Query: Screen by Width
=media-screen($type: false, $bp: false, $bp2: false)
  @if ($type == 'min') and ($bp != false)
    @media screen and (min-width: $bp)
      @content
  @else if ($type == 'max') and ($bp != false)
    @media screen and (max-width: ($bp - 1))
      @content
  @else if ($type == 'range') and ($bp != false) and ($bp2 != false)
    @media screen and (min-width: $bp) and (max-width: ($bp2 - 1))
      @content

//Animation ---  animation-name, animation-duration, animation-timing-function, animation-delay, animation-iteration-count, animation-direction, animation-fill-mode, and animation-play-state.
=animation($anime)
  -moz-animation: $anime
  -webkit-animation: $anime
  animation: $anime

//Transition ---  property duration timing-function delay|initial|inherit;
=transition($transition: all .3s ease-out)
  transition: $transition
  -webkit-transition: $transition
  -moz-transition: $transition
  -ms-transition: $transition
  -o-transition: $transition

=transition-2($prop-a, $prop-b)
  transition: $prop-a, $prop-b
  -webkit-transition: $prop-a, $prop-b
  -moz-transition: $prop-a, $prop-b
  -ms-transition: $prop-a, $prop-b
  -o-transition: $prop-a, $prop-b

//Transform --- none|transform-functions|initial|inherit;
=transform($transform: none)
  transform: $transform
  -webkit-transition: $transform
  -moz-transition: $transform
  -ms-transition: $transform
  -o-transform: $transform

//Filter ---  none | blur() | brightness() | contrast() | drop-shadow() | grayscale() | hue-rotate() | invert() | opacity() | saturate() | sepia() | url();
=filter($filter: none)
  filter: $filter
  -ms-filter: $filter
  -webkit-filter: $filter

=user-select($user-select: none)
  user-select: $user-select
  -webkit-user-select: $user-select
  -moz-user-select: $user-select
  -ms-user-select: $user-select

//Border Radius --- num
=border-radius($border-radius: 5px)
  border-radius: $border-radius
  -webkit-border-radius: $border-radius
  -moz-border-radius: $border-radius
  -ms-border-radius: $border-radius

//Box Shadow --- none|h-offset v-offset blur spread color |inset|initial|inherit;
=box-shadow($boxshadow: 0 0 10px 10px rgba(0,0,0,0.7))
  box-shadow: $boxshadow
  -webkit-box-shadow: $boxshadow
  -moz-box-shadow: $boxshadow

//Text Shadow --- h-shadow v-shadow blur-radius color|none|initial|inherit;
=text-shadow($text-shadow: 0 0 5px rgba(0,0,0,0.3))
  -webkit-font-smoothing: antialiased
  text-shadow: $text-shadow
  -webkit-text-shadow: $text-shadow


// media breakpoints (min)
$media-min-xs: "screen and (min-width: 576px)"
$media-min-smm: "screen and (min-width: 621px)"
$media-min-sm: "screen and (min-width: 768px)"
$media-min-md: "screen and (min-width: 992px)"
$media-min-lg: "screen and (min-width: 1200px)"
$media-min-xl: "screen and (min-width: 1400px)"

// media breakpoints (max)
$media-max-xs: "screen and (max-width: 575px)"
$media-max-smm: "screen and (max-width: 620px)"
$media-max-sm: "screen and (max-width: 767px)"
$media-max-md: "screen and (max-width: 991px)"
$media-max-lg: "screen and (max-width: 1199px)"
$media-max-xl: "screen and (max-width: 1399px)"
  
@mixin bg-tint($tint_color, $image_url)
  background-image: linear-gradient( $tint_color, $tint_color ), url( $image_url )



*, 
*:before,
*:after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  margin: 0
  padding: 0

input,
textarea
  font-family: $ff-main

body
  background: #fff
  color: lighten(#000, 0.9)
  display: block
  margin: 0
  font-size: $fs
  line-height: $blh
  font-family: $ff-main
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
a,
a:visited
  color: $clr-main
  text-decoration: none



code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

.container
  +container($container)
  &--flex
    display: flex
    align-items: flex-start
    @media #{$media-max-sm}
        flex-wrap: wrap
    main
      width: 70%
      @media #{$media-max-sm}
        width: 100%
        order: 1
  
.title,
h1
  font-size: $fs * 2
  line-height: $blh * 2
  color: lighten(#000, 0.8)

.btn,
a.btn,
a.btn:visited
  color: $clr-b
  display: block
  border-radius: 5%
  background: $clr-o
  font-size: $fs
  text-align: center
  padding: calc($blh/1.8) $blh
  margin: calc($blh/2) 0
  transition: 0.5s
  width: fit-content
  &:hover
    background: darken($clr-o, 10%)
  &.btn--alt
    background: $clr-b
    &:hover
    background: darken($clr-b, 10%)
    color: #fff
    
